<nav class="navbar navbar-dark bg-light justify-content-end mb-2">
  <form [formGroup]="searchForm" class="form-inline mr-2">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" formControlName="searchCriteria">
    <span *ngIf="isClearSearchButtonVisible()" class="oi oi-x clear-search" title="Clear" aria-hidden="true" (click)="clearSearch()"></span>
  </form>
  <button type="button" class="btn btn-primary" (click)="create()">
    <span class="oi oi-plus" title="Create" aria-hidden="true"></span>
    Create
  </button>
</nav>
<table class="table table-striped table-bordered table-hover table-sm">
  <thead class="table-primary">
    <tr>
      <th scope="col">
        <div class="d-flex">
          <span class="mr-2">Title</span>
          <app-flag language="{{language.russian}}"></app-flag>
        </div>
      </th>
      <th scope="col">
        <div class="d-flex">
          <span class="mr-2">Title</span>
          <app-flag language="{{language.english}}"></app-flag>
        </div>
      </th>
      <th scope="col">Text</th>
      <th scope="col actions-col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let glossary of glossaries">
      <td class="align-middle">
        <span *ngIf="glossary.title.rus">{{ glossary.title.rus }}</span>
      </td>
      <td class="align-middle">
        <span *ngIf="glossary.title.eng">{{ glossary.title.eng }}</span>
      </td>
      <td class="align-middle">{{ glossary.description }}</td>
      <td class="actions-col align-middle">
        <div class="d-flex justify-content-around">
          <button type="button" class="btn btn-primary btn-sm" (click)="update(glossary)">
            <span class="oi oi-pencil" title="Edit" aria-hidden="true"></span>
            Update
          </button>
          <button type="button" class="btn btn-danger btn-sm" (click)="remove(glossary)">
            <span class="oi oi-trash" title="Remove" aria-hidden="true"></span>
            Delete
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<app-pagination [data]="page" (pageNumberChanged)="onPageNumberChanged($event)"></app-pagination>
