<form [formGroup]="form" class="container">
  <div class="row form-group">
    <div class="col-sm-3">
      <label for="glossaryTitle" class="font-weight-bold align-middle">Title:</label>
    </div>
    <div class="col-sm-9">
      <input id="glossaryTitle" type="text" class="form-control w-100" formControlName="title">
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-3">
      <label for="glossaryText" class="font-weight-bold align-middle">Text:</label>
    </div>
    <div class="col-sm-9">
      <textarea id="glossaryText" class="form-control w-100" formControlName="text"></textarea>
    </div>
  </div>
</form>
